# -*- mode: conf; -*-
[Unit]
Description=Emacs text editor
Documentation=info:emacs man:emacs(1) https://gnu.org/software/emacs/

[Service]
Type=simple
ExecStart=${EMACS_ROOT}/bin/emacs --fg-daemon --chdir %h
# change above to --daemon=<name>, then you can use
# --server-file=<name> to run separate instances
ExecStop=${EMACS_CLIENT}/emacsclient --eval "(progn (setq kill-emacs-hook 'nil) (kill-emacs))"
Environment=SSH_AUTH_SOCK=%t/keyring/ssh
Restart=on-failure

[Install]
WantedBy=default.target

# systemctl enable --user emacs
# systemctl start --user emacs
## Stop the instance
# systemctl stop --user emacs
## Permanently disable
# systemctl disable --user emacs
