[Desktop Entry]
Version=1.0
Type=Application
Name=emx
Comment=
Exec=/usr/bin/emacs-25.3
Icon=
Path=~
Terminal=false
StartupNotify=false
Name[en_US.UTF-8]=emacs-fedora
