#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon=gnome-panel-launcher
Name=XrRelease
Comment=Distribute XrWorld to other hosts
Path=
Exec=/home/dan.harms/bin/xr-release.sh
