[user]
	name = Dan Harms
	email = dan.harms@xrtrading.com
[core]
    editor = $EDITOR
    excludesfile = ~/.gitignore
[color]
	ui = true
[diff]
	tool = diffgui
[difftool]
	prompt = false
[difftool.diffterm]
	cmd = /usr/bin/env LOCAL=$LOCAL REMOTE=$REMOTE $EDITOR --load ~/config/difftool.el
[difftool.diffgui]
	cmd = /usr/bin/env LOCAL=$LOCAL REMOTE=$REMOTE $EMACSX --load ~/config/difftool.el
[merge]
	tool = mergegui
[mergetool]
	prompt = false
[mergetool.mergeterm]
	cmd = /usr/bin/env LOCAL=$LOCAL REMOTE=$REMOTE BASE=$BASE MERGED=$MERGED $EDITOR --load ~/config/mergetool.el
[mergetool.mergegui]
	cmd = /usr/bin/env LOCAL=$LOCAL REMOTE=$REMOTE BASE=$BASE MERGED=$MERGED $EMACSX --load ~/config/mergetool.el
[push]
    default = simple
